[global_tags]
  hostgroup = "{{ ansible_local['hostgroup_servicegroup']['duke_default_hostgroup'] }}"
  servicegroup = "{{ ansible_local['hostgroup_servicegroup']['duke_default_servicegroup'] }}"
  serial_number = "{{ ansible_product_serial | default('no-serial-available')}}"
